.ocultar{
	display: none;
}

.centrar{
  text-align: center;
}

#margen_one{
  margin-top: 35px;
  margin-bottom: 50px;
}

#margen_second{
  margin-top: 35px;
  margin-bottom: 50px;
}

#margen_three{
  margin-top: 35px;
  margin-bottom: 50px;
}
.margen_top{
  margin-top: 25px;
  margin-bottom: 25px;
}

.margen_radio{
  margin-top: 15px;
  margin-bottom: 13px;
}


/*css para el progress*/
*, *:after, *:before {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
  }
  
  /* Form Progress */
  .progressc {
    margin: 20px auto;
    text-align: center;
  }
  .progressc .circle1,
  .progressc .bar1 {
    display: inline-block;
    background: #fff;
	  width: 40px; 
	  height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
  }
  .progressc .circle2,
  .progressc .bar2 {
    display: inline-block;
    background: #fff;
    width: 40px; 
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
    
  }
  .progressc .circle3{
    display: inline-block;
    background: #fff;
    width: 40px; 
    height: 40px;
    border-radius: 40px;
	  border: 1px solid #d5d5da;
  }
  .progressc .bar1 {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progressc .bar2 {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progressc .bar3 {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .progressc .bar1.responsive{
    position: relative;
    width: 30px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progressc .bar2.responsive{
    position: relative;
    width: 30px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progressc .bar3.responsive{
    position: relative;
    width: 30px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .progressc .circle1 .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .progressc .circle1 .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
  }
  .progressc .circle2 .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .progressc .circle2 .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
  }
  .progressc .circle3 .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .progressc .circle3 .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
  }
  
  /* Done / Active */
  .progressc .bar1.done,
  .progressc .circle1.done {
    background: #eee;
  }
  .progressc .bar2.done,
  .progressc .circle2.done {
    background: #eee;
  }
  .progressc .circle3.done {
    background: #eee;
  }

  .progressc .bar1.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
  }
  .progressc .bar2.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
  }

  .progressc .circle1.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progressc .circle2.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progressc .circle3.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }

  .progressc .circle1.done .title {
    color: #444;
  }
  .progressc .circle2.done .title {
    color: #444;
  }
  .progressc .circle3.done .title {
    color: #444;
  }

  .progressc .circle1.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progressc .circle2.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progressc .circle3.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }

  .progressc .circle1.active .title {
    color: #0c95be;
  }
  .progressc .circle2.active .title {
    color: #0c95be;
  }
  .progressc .circle3.active .title {
    color: #0c95be;
  }


/*Style para el slider form*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);*/

* {
	font-size: 16px;
}

input:focus,
button:focus {
	outline: none;
}

button:hover,
.reset:hover {
	opacity: .8;
}

button:active,
.reset:active {
	opacity: .5;
}

.containers {
	margin-left: 2%;
	width: 96%;
}


.line {
	width: 100%;
	height: 5px;
	background: #ddd;
	position: relative;
	border-radius: 10px;
	overflow: visible;
	margin-bottom: 50px;
}

.line .dot-move {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 15px;
	height: 15px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #ddd;
	border-radius: 50%;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

.line .dot {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	left: 0;
	background: #ddd;
	border-radius: 50%;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
	-webkit-transform: translate(-50%, -50%) scale(.5);
	-ms-transform: translate(-50%, -50%) scale(.5);
	transform: translate(-50%, -50%) scale(.5);
}

.line .dot.zero {
	left: 0%;
	background: #bbb;
}

.containers.slider-one-active .dot.zero {
	background: #5892fc;
}

.line .dot.center {
	left: 50%;
	background: #bbb
}

.line .dot.full {
	left: 100%;
	background: #bbb
}

.slider-ctr {
	width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 50px;
}
/*Tamaño total del slider*/
.slider {
	overflow: visible;
  width: 300%;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
	-webkit-transform: translate(0px) scale(1);
	-ms-transform: translate(0px) scale(1);
	transform: translate(0px) scale(1);
}

.containers.slider-one-active .slider-two,
.containers.slider-one-active .slider-three {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

.containers.slider-two-active .slider-one,
.containers.slider-two-active .slider-three {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

.containers.slider-three-active .slider-one,
.containers.slider-three-active .slider-two {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

.slider-one,
.slider-two,
.slider-three {
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}
/*tamaño de slider individual*/
.slider-form {
	float: left;
	width: 33%;
  text-align: center;
}

.slider-form h2 {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 50px;
	color: #999;
	position: relative;
}

.slider-form h2 .yourname {
	font-weight: 400;
}

.slider-form h3 {
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 50px;
	line-height: 1.5;
	color: #999;
	position: relative;
}

.slider-form h3 .balapa {
	font-family: 'Pacifico', sans-serif;
	display: inline-block;
	color: #5892fc;
	text-decoration: none
}

.slider-form button,
.reset {
  display: inline-block;
  text-decoration: none;
	background: #5892fc;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 25px;
	font-size: 1rem;
	border-radius: 3px;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	position: relative;
}

/*  emot */

.label-ctr {
	margin-bottom: 50px;
}

label.radio {
	height: 55px;
	width: 55px;
	display: inline-block;
	margin: 0 10px;
	background: transparent;
	position: relative;
	border-radius: 50%;
  cursor: pointer;
}

label.radio input {
	visibility: hidden;
}

label.radio input:checked + .emot {
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
}

label.radio input:checked + .emot,
label.radio input:checked + .emot .mouth {
	border-color: #5892fc;
}

label.radio input:checked + .emot:before,
label.radio input:checked + .emot:after {
	background: #5892fc;
}

label.radio .emot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fafafa;
	border-radius: 50%;
	border: 2px solid #ddd;
	-webkit-transition: .3s all ease;
	transition: .3s all ease;
}

label.radio .emot:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: 5px;
	height: 10px;
	background: #ddd;
}

label.radio .emot:after {
	content: "";
	position: absolute;
	top: 15px;
	right: 15px;
	width: 5px;
	height: 10px;
	background: #ddd;
}


label.radio .emot .mouth.smile {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

label.radio .emot .mouth.sad {
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

/*	center */

.containers.center .line .dot-move {
	left: 50%;
	animation: .3s anim 1;
}

.containers.center .line .dot.center {
	background: #5892fc;
}

/*desplazamiento de slider*/
.containers.center .slider {
	-webkit-transform: translate(-33%);
	-ms-transform: translate(-33%);
	transform: translate(-33%);
}

.containers.center .step-two {
	clip: rect(0, 100px, 25px, 0px);
}

.containers.center .step-one .liner {
	width: 100%;
}

/*	full */

.containers.full .line .dot-move {
	left: 100%;
	animation: .3s anim 1;
}

.containers.full .line .dot.full {
	background: #5892fc;
}

.containers.full .slider {
	-webkit-transform: translate(-66%);
	-ms-transform: translate(-66%);
	transform: translate(-66%);
}

.containers.full .step-two,
.containers.full .step-three {
	clip: rect(0, 100px, 25px, 0px);
}

.containers.full .step-one .liner,
.containers.full .step-two .liner {
	width: 100%;
}